#last-race-container {
    color: var(--font-color);
    padding: 1vh;
    margin-top: 6vh !important;
    margin-bottom: 2vh !important;

    h2, h5, h6 {
        margin: 0;
    }
}

.table-responsive {
    width: 90%;
    padding: 1vh;

    table {
        color: var(--font-color);

        #headings {
            border-bottom: 2px solid var(--race-red) !important;
        }
        
        thead {
            height: fit-content;
        }
    }
    .table>:not(:first-child) {
        border: none;
    }
}

@media (min-width: 1023px) {
    tbody tr td {
        border: none;
    }
}